:root {

    --clr--primary: #fff;
    --clr-secondary: #C8D5B9;
    --clr-accent: #5A716A;

}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Crimson Text', serif;
    font-size: 1.125em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Homemade Apple', cursive;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 1em;
    max-width: 1100px !important;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;
    padding: 1em;
}

.col + .col {
    margin-top: 2em;
}

.section__title {
    font-size: 2em;
    text-align: center;

    margin-top: 1em;
    margin-bottom: 1em;
}

/* img, picture {
    width: 100%;
} */

.primary--nav {
    padding: 0.25rem;
    color: var(--clr--primary);

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.primary--nav.sticking {
    background: var(--clr--primary);
    box-shadow: 0 0 2em rgba(0,0,0,.6);
}

.nav__title {
    mix-blend-mode: difference;
    font-family: 'Homemade Apple', cursive;
}

.nav__link {
    color: var(--clr-accent)
}

.nav__img {
    border-radius: 8px;
}

.contact__button {
    background-color: var(--clr-accent) !important;
}

.contact__button.sticking {
    color: var(--clr-secondary);
}

.nav__list {
    background: var(--clr--primary);
    border-radius: 10px;
    border: 3px solid var(--clr-accent);

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1.125em;

    height: 250px;
}

#home {
    height: 100vh;
    background: linear-gradient(to right, rgba(16, 21, 30, 1),rgba(16, 21, 30, 0.75), rgba(16, 21, 30, 0.15), rgba(16, 21, 30, 0), rgba(16, 21, 30, 0)), url('https://images.unsplash.com/photo-1665520675869-077b84d1e5f3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1501&q=80');
    background-size: cover;
}

.hero {
    margin-top: 72px;

    display: flex;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.social__images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
    margin-top: 3em;
}

.top--line {
    border-left: 1px solid white;
    height: 150px;
}

i + i {
    margin-top: 2em;
}

.bottom--line {
    border-left: 1px solid white;
    height: 150px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2em;

    text-align: center;

    color: #fff;
}

.hero__title {
    font-size: 2em;
    line-height: 2em;
}

.hero__text {
    margin-top: 2em;
}

.hero__btn {
    backdrop-filter: blur(1px);
    border: 3px solid var(--clr-accent);
    padding: .25em 4em;
    margin-top: 2em;
}

/* Service Section Styling */
.service__img {
    width: 100px;
}

.service__title {
    font-size: 1.5em;
    margin-top: 0.75em;

    font-family: 'Crimson Text', serif;
}

/* End Service Section Styling */

/* Portfolio Styling */
#portfolio {
    background: var(--clr-secondary);
}
/* End Portfolio Styling */

/* About Styling */

.about__text + .about__text {
    margin-top: 1em;
}

.about__img {
    border-radius: 60px;
}

/* End About Styling */


/* Pricing Styling */

#pricing {
    background: var(--clr-primary);
}

.pricing__card {
    background: #f5f5f5;
    padding: 2em;

    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pricing__card + .pricing__card {
    margin-top: 1.5em;
}

.card__title {
    font-size: 1.5em;
    text-transform: uppercase;
}

.card__price {
    font-size: 1.75em;
    color: var(--clr-accent);
}

.card__breakdown {
    display: flex;
    align-items: center;
    gap: 1em;
}

.pricing__card:last-child {
    margin-bottom: 3em;
}

/* End Pricing Styling */

/* Contact Styling */
#contact {
    background: url(images/contact__bg.png);
    background-size: cover;
}

#section__title {
    color: var(--clr--primary);
}

.form__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

input, textarea {
    width: 100%;
    padding: 0.5em;
    border: 3px solid var(--clr-secondary) !important;
    outline: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 3em;

    width: 100%;
}

.form__title {
    color: var(--clr--primary);
}

p + input {
    margin-bottom: 1.5em;
}

.button__submit {
    background: var(--clr-accent) !important;
    color: var(--clr--primary);

    padding: .25em 4em;
    border-radius: 10px;

    margin-top: 1.5em;
}

/* End Contact Styling */


/* Footer Styling */

footer {
    background: var(--clr-secondary);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 3em;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.margin-top__0 {
    margin-top: 0;
}

.margin-top__0 + .margin-top__0 {
    margin-left: .5em;
}

/* End Footer Styling */

/* Animation */

/* For animation transition */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: .5s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* End Animation */